<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Real Estate Analytics--Understanding Real Estate Markets Through Data Analytics">
  <meta name="author" content="Cheryl Sellers Johnson">

  <title>Real Estate Analytics</title>
  
  <!-- Bootstrap CDN -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <!-- Custom styles for this template -->
  <link href="../static/css/real-estate-analytics.css" rel="stylesheet">

  <!--  Import the d3 framework  -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.9.7/d3.min.js"></script>
  <script src="https://d3js.org/d3.v5.min.js"></script>
 
  <!-- Import plotly library to create charts & graphs  -->
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="index.html">Real Estate Data Analytics</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="index.html">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">

    <!-- Heading Row -->
    <div class="row align-items-center my-5">
      <div class="col-lg-7">
        <img class="img-fluid rounded mb-4 mb-lg-0" src="../Resources/real-estate-analytics-img.jpg" alt="Real Estate Analtyics">
      </div>
      <!-- /.col-lg-8 -->
      <div class="col-lg-5">
        <h1 class="font-weight-light">Real Estate Sales and COVID-19 Closures by State</h1>
        <p>Select your state to view the impact of COVID-19 Stay-at-Home Orders on Real Estates Sales in Your State.</p>
      </div>
      <!-- /.col-md-4 -->
    </div>
    <!-- /.row -->

    <!-- Content Row -->
    <div class="row">
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <div class="card-body">
            <h2 class="card-title">Historical Real Estate Sales Trends</h2>
            <p class="card-text">An historical presentation of real estate markets over time.</p>
          </div>
          <div class="card-footer">
            <a href="historical-trends.html" class="btn btn-primary btn-sm">Presentation & Charts</a>
          </div>
        </div>
      </div>
      <!-- /.col-md-4 -->
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <div class="card-body">
            <h2 class="card-title">Real Estate Markets in 2020</h2>
            <p class="card-text">An analysis of the impact of stay-at-home orders on real estate markets.</p>
          </div>
          <div class="card-footer">
            <a href="real-estate-2020.html" class="btn btn-primary btn-sm">Presentation & Charts</a>
          </div>
        </div>
      </div>
      <!-- /.col-md-4 -->
      <div class="col-md-4 mb-5">
        <!-- <div class="card h-100"> -->
          <div class="card text-white bg-info mb-5">
          <div class="card-body">
            <h2 class="card-title">Visitor Query of Specific States</h2>
            <p class="card-text">Query a specific state's stay-at-home orders through October 2020 to see how specific real estate markets were impacted by those orders.</p>
          </div>
          <div class="card-footer">
            <a href="state-query.html" class="btn btn-primary btn-sm">Check Your State</a>
          </div>
        </div>
      </div>
      <!-- /.col-md-4 -->

    </div>
    <!-- /.row -->

    <!-- Content Row -->

    <!-- <h2>Streaming Music By Country</h2>
    <select id="selDataset" onchange="getData(this.value)">
        <option value="us">United States</option>
        <option value="uk">United Kingdom</option>
        <option value="canada">Canada</option>
    </select>

    <div id="pie"></div>

    <script src="../static/data.js"></script>
    <script src="../static/plots.js"></script> -->


    <div id="state-line-plot"></div>

    <select id="selStateOption onchange="getData(this.value)">
      <option value="option1">Maryland</option>
      <option value="option2">Colorado</option>
    </select>
  
    <script src="../static/js/realestaterecords.js"></script>
    <script src="../static/js/covidrecords.js"></script>
    <script src="../static/js/select-state.js"></script>


  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; 2021 Cheryl Sellers Johnson</p>
    </div>
    <!-- /.container -->
  </footer>

</body>

</html>
